.App {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
input {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 4px;
  margin: 1rem 1rem 0 1rem;
}

.icon-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  grid-auto-rows: 1fr;
  overflow: scroll;
  flex-shrink: 1;
  padding: 1rem;
}

.icon-list li {
  display: flex;
  word-break: break-all;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
}

.icon-list li div span {
  margin-top: 4px;
  display: block;
  font-size: 0.8rem;
  color: #555;
}
